menuconfig SPICA_OTF
	bool "On The Fly ToolKit (C) Spica"
	default y

if SPICA_OTF

config OTF_AVP
	bool "OTF AVP Frequency"
	default y

config OTF_GPU
	bool "OTF GPU Frequency"
	default y

config OTF_VDE
	bool "OTF VDE Frequency"
	default y

config OTF_DDR2MIN
	bool "OTF DDR2 Min Frequency"
	default y

config OTF_LPDDR2
	bool "OTF LPDDR2 Min Frequency"
	default y

config OTF_CPU1
	bool "OTF CPU Second Core activation"
	default y

config OTF_MAXSCOFF
	bool "OTF Screen Off Max Frequency"
	default y

config OTF_PSNIT
	bool "OTF Extra: PowerSave & Nitro feature"
	default y

endif # SPICA_OTF
